@font-face {
   font-family: 'Bookish';
   src: url('https://rawgit.com/geekholm/Bookish-Variable/master/BookishProtoGX.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
body {
 font-family:'Bookish';
 background-image: url('../images/librarybk.jpeg');

}

#header{
  background-color: white;
  opacity: 0.5;
  text-align: center;
  text-shadow: rgba(0,0,0,0.2) 1px 0 10px;
}
#all-books {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 300px;
}
p.book-cover {
  width: 150px;
  height: 170px;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0 1em 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  background-color: white;
  opacity: 0.8;
  list-style-type: none;
}
.book-cover:hover {
  background-color: white;
  opacity: 1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  list-style-type: none;
}

.book-img{
  height: 280px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}
.modal-body {
  background-image: url('../images/leaves.png');
}
.page-img-content {
  text-align: center;
}
.modal-footer {
  display: none;
  text-align: center;
}
.new-book-li {
  display: none;
}
.edit-book-li {
  display: none;
}
.edit-book-title {
  display: none;
}
.delete-book {
  display: none;
}
.my-books-btn {
  display: none;
}
